user_name = "username"
tenant_name = "tenant_id"
password = "password"
auth_url = "auth_url"
image_id = "image_id"
region = "region"
name_prefix = "name_prefix"
flavor_id = "flavor_id"
private_net_id = "private_net_id"
worker_count = "worker_count"
