[Unit]
Description=Kubernetes Apiserver Advertiser
After=etcd.service
Requires=etcd.service
After=kube-apiserver.service
[Service]
EnvironmentFile=/etc/kubernetes.env
ExecStart=/bin/sh -c 'etcdctl set /corekube/apiservers/${MASTER_IP} ${MASTER_IP}'
Restart=always
RestartSec=120
