[Unit]
Description=Kubernetes Apiserver Advertiser
After=etcd.service
Requires=etcd.service
[Service]
EnvironmentFile=/etc/kube.env
ExecStart=/bin/sh -c 'etcdctl set /corekube/apiservers/${MASTER_IP} ${MASTER_IP}'
Restart=always
RestartSec=120
