[Unit]
Description=flannel is an etcd backed network fabric for containers
Documentation=https://github.com/coreos/flannel
After=etcd.service 
Wants=etcd.service
After=apiservers-finder.service

[Service]
EnvironmentFile=/etc/kubernetes.env
EnvironmentFile=/etc/apiservers.env
ExecStartPre=/bin/sh -c 'while [ -z $MASTER ]; do sleep 10; done'
ExecStartPre=-/usr/bin/etcdctl mk $FLANNEL_ETCD_PREFIX ${FLANNEL_NETWORK_CONFIG}
