[Unit]
Description=Kubernetes Kubelet
Documentation=https://github.com/GoogleCloudPlatform/kubernetes
After=docker.service
Requires=docker.service
After=apiservers-finder.service
[Service]
EnvironmentFile=/etc/kubernetes.env
EnvironmentFile=/etc/apiservers.env
ExecStartPre=/usr/bin/ln -sf /opt/kubernetes/server/bin/kubelet /opt/bin/kubelet
ExecStartPre=/bin/sleep 10
ExecStart=/opt/bin/kubelet $KUBE_KUBELET_OPTS $API_SERVERS $HOSTNAME_OVERRIDE
Restart=always
RestartSec=10
