[Unit]
Description=Kubernetes API Server
Documentation=https://github.com/GoogleCloudPlatform/kubernetes
[Service]
ExecStartPre=/usr/bin/ln -sf /opt/kubernetes/server/bin/kube-apiserver /opt/bin/kube-apiserver
ExecStartPre=/usr/bin/mkdir -p /var/lib/kube-apiserver
ExecStart=/opt/bin/kube-apiserver \
--address=127.0.0.1 \
--etcd_servers=http://127.0.0.1:4001 \
--logtostderr=true \
--port=8080 \
--service-cluster-ip-range=10.0.0.0/16 \
--token-auth-file=/var/lib/kube-apiserver/known_tokens.csv \
--v=2
Restart=always
RestartSec=5
